@model IEnumerable<MyContactBoook.Models.ContactModel>
@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(source: Model, canPage: true, canSort: true, rowsPerPage: 5);
}

<h5>Contact List.</h5>

<div style="overflow:auto; margin:2em;">

    @grid.GetHtml(
                    tableStyle: "table table-responsive",
                    columns: grid.Columns
                        (
                            grid.Column("FirstName", "First Name"),
                            grid.Column("LastName", "Last Name"),
                            grid.Column("Phone1", "Contact 1"),
                            grid.Column("Phone2", "Contact 2"),
                            grid.Column("Email", "Email"),
                            grid.Column(header: "Image", format:@<text>@Html.Raw((item.Image == null ? "" : "<img width='100px', height='100px', alt='' src='/img/" + item.Image + "'"))</text>),
                            grid.Column(header: "View", format: (item) => Html.ActionLink("View", "View", "Home", new { id = item.ContactId }, new { @class = "btn btn-success" })),
                            grid.Column(header: "Edit", format: (item) => Html.ActionLink("Edit", "Edit", "Home", new { id = item.ContactId }, new { @class = "btn btn-info" })),
                            grid.Column(header: "Delete", format: (item) => Html.ActionLink("Delete", "Delete", "Home", new { id = item.ContactId }, new { @class = "btn btn-danger" }))
                        )
                    )


    


</div>